In [ ]:
#IMPORT PYMONGO

In [ ]:
import pymongo

In [ ]:
a = pymongo.MongoClient("mongodb://Agadeesh1109:password1109@cluster0-shard-00-00.hzq7u.mongodb.net:27017,cluster0-shard-00-01.hzq7u.mongodb.net:27017,cluster0-shard-00-02.hzq7u.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-dtkdr1-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
#CREATE DATABASE NAME GIVEN BELOW

In [ ]:
b=a["TELEPHONE_DIRECTORY"]

In [ ]:
#CREATE COLLECTIONS NAME GIVEN BELOW

In [ ]:
c=b["DIRECTORY"]

In [ ]:
#INSERT ONE DATAS INTO COLLECTIONS GIVEN BELOEW

In [ ]:
d={"name":"agdeesh","age":23,"phonenumber":9843477231,"place":"pondy"}

In [ ]:
c.insert_one(d)

In [ ]:
#INSERT MANY DATAS INTO COLLECTIONS GIVEN BELOW

In [ ]:
c.insert_many([{"name":"jadeja","age":32,"phonenumber":8143477231,"place":"chennai"},{"name":"dhoni","age":39,"phonenumber":7743378312,"place":"gujarat"},{"name":"raina","age":37,"phonenumber":8843477231,"place":"mumbai"},{"name":"virat","age":35,"phonenumber":9843477231,"place":"bangalore"},{"name":"thirukkamu","age":27,"phonenumber":8921277231,"place":"karnataka"}])

In [ ]:
# SHOWS OVERALLDATAS IN COLLECTIONS GIVEN BELOW

In [ ]:
for i in c.find():
  print(i)

{'_id': ObjectId('6223665681086427e2bed492'), 'name': 'agdeesh', 'age': 23, 'phonenumber': 9843477231, 'place': 'pondy'}
{'_id': ObjectId('6223665981086427e2bed493'), 'name': 'jadeja', 'age': 32, 'phonenumber': 8143477231, 'place': 'chennai'}
{'_id': ObjectId('6223665981086427e2bed494'), 'name': 'dhoni', 'age': 39, 'phonenumber': 7743378312, 'place': 'gujarat'}
{'_id': ObjectId('6223665981086427e2bed495'), 'name': 'raina', 'age': 37, 'phonenumber': 8843477231, 'place': 'mumbai'}
{'_id': ObjectId('6223665981086427e2bed496'), 'name': 'virat', 'age': 35, 'phonenumber': 9843477231, 'place': 'bangalore'}
{'_id': ObjectId('6223665981086427e2bed497'), 'name': 'thirukkamu', 'age': 27, 'phonenumber': 8921277231, 'place': 'karnataka'}

In [ ]:
#UPDATE AS {GENDER:MALE} IN ALL ROW

In [ ]:
c.update_many({},{"$set":{"gender":"male"}})

In [ ]:
#SHOWS UPDATE DATAS GIVEN BELOW

In [ ]:
for i in c.find():
  print(i)

{'_id': ObjectId('6223665681086427e2bed492'), 'name': 'agdeesh', 'age': 23, 'phonenumber': 9843477231, 'place': 'pondy', 'gender': 'male'}
{'_id': ObjectId('6223665981086427e2bed493'), 'name': 'jadeja', 'age': 32, 'phonenumber': 8143477231, 'place': 'chennai', 'gender': 'male'}
{'_id': ObjectId('6223665981086427e2bed494'), 'name': 'dhoni', 'age': 39, 'phonenumber': 7743378312, 'place': 'gujarat', 'gender': 'male'}
{'_id': ObjectId('6223665981086427e2bed495'), 'name': 'raina', 'age': 37, 'phonenumber': 8843477231, 'place': 'mumbai', 'gender': 'male'}
{'_id': ObjectId('6223665981086427e2bed496'), 'name': 'virat', 'age': 35, 'phonenumber': 9843477231, 'place': 'bangalore', 'gender': 'male'}
{'_id': ObjectId('6223665981086427e2bed497'), 'name': 'thirukkamu', 'age': 27, 'phonenumber': 8921277231, 'place': 'karnataka', 'gender': 'male'}

In [ ]:
#DELETE AS _id in all row shows by given below

In [ ]:
sample=[]
for i in c.find ({},{"_id":0}):
  print(i)
  sample.append(i)

{'name': 'agdeesh', 'age': 23, 'phonenumber': 9843477231, 'place': 'pondy', 'gender': 'male'}
{'name': 'jadeja', 'age': 32, 'phonenumber': 8143477231, 'place': 'chennai', 'gender': 'male'}
{'name': 'dhoni', 'age': 39, 'phonenumber': 7743378312, 'place': 'gujarat', 'gender': 'male'}
{'name': 'raina', 'age': 37, 'phonenumber': 8843477231, 'place': 'mumbai', 'gender': 'male'}
{'name': 'virat', 'age': 35, 'phonenumber': 9843477231, 'place': 'bangalore', 'gender': 'male'}
{'name': 'thirukkamu', 'age': 27, 'phonenumber': 8921277231, 'place': 'karnataka', 'gender': 'male'}